.Carrousel-main{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.Carrousel-container{
    display: flex;
    margin: 2rem 0;
}
.Carrousel-img-container{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: space-evenly;
    gap: 1rem;
}
.Carrousel-pic{
    width: 35rem;
}
.Carrousel-pic img{
    width: 100%;
    object-fit: cover;
    height: 20rem;  
}
h2{
    font-size: 2rem;
    margin-top: 1rem;
}
h3{
    font-size: 3rem;
    transform: translatey(-5rem);
    text-align: center;
    text-shadow: 2px 2px black;
    color:white;
}