.Citycard-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem; 
    max-width: 1200px;
    width: 80%;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: relative;
}
.card:before {
    content: '';
    display: block;
    width: 100%;
}
.card__background {
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
    width: 90%;
    height: 20rem;
}
.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}
.Citycard-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card__content {
    left: 0;
    padding: 1rem 3rem;
    position: absolute;
    top: 0;
}
.card__category {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.card__heading {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

@media(max-width: 1280px){
    .Citycard-grid{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .card__background{
        width: 80vw;
        height: 25rem;
    }
    .card__content {
        padding: 1rem;
    }
    .card__heading {
        font-size: 1.7rem;
    }
}

@media(max-width: 768px){
    .card__background{
        width: 90vw;
        height: 20rem;
    }
    .card__heading {
        font-size: 1.5rem;
    }
}

@media(max-width: 425px){
    .card__background{
        height: 15rem;
    }
}