.Footer-container{
    min-height: 10vh;
    background-color:rgb(223, 170, 91);
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    padding: 1rem 0;
}
footer img{
    width: 8rem;
}
.Footer-nav a{
    padding-right: 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}
.Footer-nav a:hover{
    color: orangered;
}