.Header-container{
    height: 8vh;
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    color: #1E1A1D;
}
header h1{
    font-size: 3rem;
}
.HamburguerMenu {
    display: none;
}
.NavigationMenu {
    display: flex;
    justify-content: space-between;
}
.NavigationMenu ul {
    position: absolute;
    padding: .7rem;
    background-color: #DFAA5E;
    transform: translate(-6rem, 1.1rem);
    border-radius: .2rem;
}
.NavigationMenu li{
    list-style: none;
}
.NavigationMenu button{
    background-color: transparent;
    border: none;
}
.NavigationMenu .Header-link{
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #1E1A1D;
}
.Header-link img{
    width: 1.8rem;
}
.Header-link-log{
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
}

@media screen and (max-width: 768px){
    .NavigationMenu {
        display: none;
    }
    .HamburguerMenu {
        display: flex;
        flex-direction: column;
    }
    .HamburguerMenu .Hamburguer-logs{
        background-color: #DFAA5E;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(-6rem, 1rem);
        gap: 1rem
    }
    .HamburguerMenu a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }
}