.itinerary-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 30rem;
    width: 80%;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin-bottom: 5rem;
    box-sizing: border-box;
}
.itinerary-title h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    padding-bottom: .5rem;
    text-align: center;
    width: 25rem;
    color: #78788c;
    border-bottom: 3px solid #377771
}
.itinerary-info{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 1.5rem;
}
.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 10rem;
    background: #f2f2f2;
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.comment-title{
    font-size: 1rem;
    text-align: center;
    padding-bottom: .5rem;
}
.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
}
.comment-container form {
    width: 90%;
    display: flex;
}
.itinerary-btns{
    display: flex;
}
.itinerary-delete{
    border: none;
}
.itinerary-edit, .itinerary-delete, .itinerary-one{
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    padding: .5rem 1rem;
    margin: 0 1rem;
    background-color: #377771;
    border-radius: .3rem;
    color: white ;
    text-shadow: 1px 1px black;
}
.itinerary-edit:hover, .itinerary-delete:hover, .itinerary-one:hover{
    font-weight: 600;
    box-shadow: #377771 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    border-radius: .3rem;
    transition: 0.5s;
    color: white;
}
.likes-container{
    display: flex;
    justify-content: space-around;
}
.arrow-down{
    margin-bottom: 1rem;
}
.heart-icon, .arrow-send, .arrow-down {
    background-color: transparent;
    border: none;
}
.heart-icon, .arrow-send img, .arrow-down img{
    width: 1.2rem;
}
.heart-icon:hover, .arrow-send img:hover {
    border: 2px solid #377771;
}
.arrow-down img:hover {
    transform: translate3d(0, 2px, 0);
    transition: 0.5s;
}


@media screen and (max-width: 1440px){
    .itinerary-container{
        width: 95%;
    }
    .itinerary-title h3{
        border-bottom: none;
    }
    
}
@media screen and (max-width: 890px){
    .itinerary-info{
        flex-direction: column;
        gap: 1rem;
    }
    .likes-container{
        justify-content: flex-start;
        align-items: flex-start;
    }
}